In [70]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
db_password="INSERT_PASSWORD##########"
engine = create_engine(f"postgresql://postgres:{db_password}@localhost:5432/groupproject")

In [71]:
bank_df = pd.read_csv("./bank.csv",delimiter = ";", dtype = {
    'age': int,
    'job': "category",
    'marital': "category",
    'education': "category",
    'default': object,
    'balance': float,
    'housing': object,
    'loan': object,
    'contact': "category",
    'day': int,
    'month': "category",
    'duration': int,
    'campaign': int,
    'pdays': int,
    'previous': int,
    'poutcome': "category",
    'y': object
})
bank_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [72]:
print(bank_df.dtypes)
print(bank_df.shape)
bank_df.describe()

age             int32
job          category
marital      category
education    category
default        object
balance       float64
housing        object
loan           object
contact      category
day             int32
month        category
duration        int32
campaign        int32
pdays           int32
previous        int32
poutcome     category
y              object
dtype: object
(49732, 17)

,age,balance,day,duration,campaign,pdays,previous
count,49732.000000,49732.000000,49732.000000,49732.000000,49732.000000,49732.000000,49732.000000
mean,40.957472,1367.761562,15.816315,258.690179,2.766549,40.158630,0.576892
std,10.615008,3041.608766,8.315680,257.743149,3.099075,100.127123,2.254838
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1431.000000,21.000000,320.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [73]:
# Preprocessing: Correct data types
string_bool_map = {'yes': True, 'no': False}
# default to bool
bank_df["default"] = bank_df["default"].map(string_bool_map)

# housing to bool
bank_df["housing"] = bank_df["housing"].map(string_bool_map)

# loan to bool
bank_df["loan"] = bank_df["loan"].map(string_bool_map)

# y to bool
bank_df["y"] = bank_df["y"].map(string_bool_map)

In [74]:
# Export to SQL
bank_df.to_sql('bank', con=engine, if_exists='replace')

In [75]:
# Import to SQL
imported_bank_df = pd.read_sql('bank', con=engine)

In [77]:
print(imported_bank_df.dtypes)

index          int64
age            int64
job           object
marital       object
education     object
default         bool
balance      float64
housing         bool
loan            bool
contact       object
day            int64
month         object
duration       int64
campaign       int64
pdays          int64
previous       int64
poutcome      object
y               bool
dtype: object

In [61]:
# Preprocessing: Drop unnecessary features
bank_df = bank_df.drop(["day", "month"], axis=1)

In [44]:
# Preprocessing: One hot encode categories
bank_df = pd.get_dummies(bank_df, columns=["job", "marital", "education", "contact", "poutcome"])

In [62]:
print(bank_df.dtypes)

age             int32
job          category
marital      category
education    category
default          bool
balance       float64
housing          bool
loan             bool
contact      category
duration        int32
campaign        int32
pdays           int32
previous        int32
poutcome     category
y                bool
dtype: object

In [47]:
from sklearn.model_selection import train_test_split

# Define features set
X = bank_df.copy()
X = X.drop("y", axis=1)

# Define target vector
y = bank_df["y"].values

# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1)

In [48]:
from sklearn.ensemble import GradientBoostingClassifier
# Choose a learning rate and create classifier
classifier = GradientBoostingClassifier(n_estimators=20,
                                        learning_rate=0.5,
                                        max_features=5,
                                        max_depth=3,
                                        random_state=0)

# Fit the model
classifier.fit(X_train, y_train)

GradientBoostingClassifier(learning_rate=0.5, max_features=5, n_estimators=20,
                           random_state=0)

In [49]:
# Score the model
print("Accuracy score (training): {0:.3f}".format(
    classifier.score(
        X_train,
        y_train)))
print("Accuracy score (validation): {0:.3f}".format(
    classifier.score(
        X_test,
        y_test)))

Accuracy score (training): 0.902
Accuracy score (validation): 0.903